:root {

    /* colors */

    --clr-app-nav-hover-background: #272343;
    --clr-app-nav-hover-text: #ffffff;

    --clr-toy-preview-background: #fafbfe;
    --clr-toy-preview-text: #005792;

    --textbox-border-color: rgb(143, 143, 143);
    --textbox-font-color: rgb(36,41,47);

    --color-orange: #ff4b1f;
    
    /* width vars*/
    --app-width-xl: 2100px;
    --app-width-l: 1700px;


    /* vars*/
}