div.labels-editor-bar,
div.labels-details-bar {
    float: right;
    margin-block: 1.5rem;

    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-auto-flow: row;
    gap: 0.8rem;
    font-size: 1.5rem;
}

div.labels-editor-bar>span:hover {
    cursor: pointer;
}

div.labels-editor-bar>span,
div.labels-details-bar>span {
    padding-inline: 1rem;
}

